* {
    box-sizing: border-box;
    /* display: flex; */
    margin: auto;
    width: 100%;
    font-family: sans-serif;
}


/* main container */

.main_container {
    width: 100%;
    height: 100vh;
    margin: auto;
    background-color: black;
    /* grid-template-columns: 1fr 1fr 1fr; */
}


/* wrapper */

.wrapper {
    background-color: aliceblue;
    border: 3px solid red;
    display: flex;
    margin: auto;
    /* grid-template-columns: 1fr 1fr 1fr; */
}


/* div left */

.div_left {
    background-color: blue;
    align-items: center;
    float: left;
    margin: auto;
    width: 25%;
    align-content: left;
    height: 200px;
    /* display: flex; */
    border: 3px solid yellow;
}


/* div center */

.div_center {
    background-color: goldenrod;
    align-items: center;
    float: left;
    margin: auto;
    width: 50%;
    align-content: left;
    height: 200px;
    /* display: flex; */
    border: 3px solid black;
}


/* div right */

.div_right {
    background-color: indianred;
    align-items: center;
    float: left;
    margin: auto;
    width: 25%;
    align-content: left;
    height: 200px;
    /* display: flex; */
    border: 3px solid chartreuse;
}


/* left div header */

.header_left_div {
    font-size: 24px;
    margin: auto;
    /* width: 100%; */
    height: 40px;
    border: 1px solid yellow;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}


/* center div header */

.header_center_div {
    font-size: 24px;
    margin: auto;
    /* width: 100%; */
    height: 40px;
    border: 1px solid yellow;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}


/* right div header */

.header_right_div {
    font-size: 24px;
    margin: auto;
    /* width: 100%; */
    height: 40px;
    border: 1px solid yellow;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}


/* left div container */

.left_div_container {
    background-color: bisque;
    border: 1px solid green;
    text-align: center;
    align-items: center;
    margin: auto;
    /* padding: 10px; */
}


/* h1 */

h1 {
    font-size: 18px;
}


/* left div footer */

.left_div_footer {
    font-size: 24px;
    margin: auto;
    /* width: 100%; */
    height: 40px;
    border: 2px solid grey;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}