/* parallas bg image */

html,
body {
    background-image: url('/assets/images/zukisa.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100%; */
    height: 100%;
    overflow: hidden;
    margin: 0;
    min-height: 100%;
    /* background-position: center; */
    background-attachment: fixed;
    margin-top: 20px;
}


/* responsive image background */

@media only screen and (max-width:400px) {
    body {
        background-image: url('/assets/images/Zukisa-Nante.jpg');
        background-attachment: scroll;
    }
}


/* welcome container */

.welcome_container {
    margin: auto;
    align-items: center;
    background-color: aquamarine;
    width: 100%;
}


/* btn_proceed */

.btn_proceed {
    /* background-color: aliceblue; */
    width: 110px;
    height: 40px;
    text-align: center;
    /* border: 1px solid whitesmoke; */
    border-radius: 10px;
    margin: 4px 2px;
    /* padding: 20px; */
    color: white;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    /* animation: name 5s 5;
    animation-direction: alternate-reverse; */
    /* animation-duration: 2s; */
}


/* animation */

@keyframes name {
    0% {
        background-image: url("/assets/images/zukisa.jpg");
        left: 0px;
        top: 50px;
        background-repeat: no-repeat;
        /* background-position: center; */
        background-size: cover;
    }
    25% {
        background-image: url("/assets/images/Zukisa-Nante.jpg");
        left: 200px;
        top: 50px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    50% {
        background-image: url("/assets/images/zukisa.jpg");
        left: 200px;
        top: 200px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    75% {
        background-image: url("/assets/images/Zukisa-Nante.jpg");
        left: 0px;
        top: 200px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    100% {
        background-image: url("/assets/images/zukisa.jpg");
        left: 0px;
        top: 50px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}


/* btn_div */

.btn_div {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    /* background-color: aliceblue */
    align-items: center;
    animation: name 5s 2;
    animation-direction: alternate-reverse;
    width: 140px;
    height: 60px;
    padding: 10px;
    border-radius: 50%;
}