/* parallas bg image */

html,
body {
    background-image: url('/assets/images/zukisa.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100%; */
    height: 100%;
    overflow: hidden;
    margin: 0;
    min-height: 100%;
    background-position: center;
    background-attachment: fixed;
}


/* responsive image background */

@media only screen and (max-width:400px) {
    body {
        background-image: url('/assets/images/Zukisa-Nante.jpg');
        background-attachment: scroll;
    }
}


/* welcome container */

.welcome_container {
    margin: auto;
}