body {
    background-image: url('https://github.com/ZukisaNante/FriendShip/blob/main/assets/images/zukisa.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


/* responsive image background */

@media only screen and (max-width:400px) {
    body {
        background-image: url('/assets/images/Zukisa-Nante.jpg');
    }
}


/* welcome container */

.welcome_container {}
